body {
  margin: 0;
}

.main__title {
  font-family: cursive;
  color: red;
  font-size: 300%;
  text-align: center;
  margin-top: 3rem;
}

.container__div {
  position: relative;
  border: 5px solid black;
  box-sizing: border-box;
  margin-top: 3rem;
  float: left;
  background-color: gray;
  margin-left: 2.5%;
}

.container--div {
  float: right;

  border-bottom: 5px solid black;
  border-left: 5px solid black;
  width: 12rem;
  height: 3rem;
  text-align: center;
}

.container__title {
  font-family: cursive;
  text-align: center;
  line-height: 0.5rem;
}

.container__text {
  font-family: cursive;
  float: left;
  margin: 1rem;
}

.chicken {
  background-color: pink;
}

.beef {
  background-color: red;
  color: white;
}

.sushi {
  background-color: yellow;
}

@media (min-width: 992px) {
  .container__div {
    width: 30%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container__div {
    width: 45%;
  }

  .container__div:nth-child(3) {
    width: 92.5%;
  }
}

@media (max-width: 767px) {
  .container__div {
    margin-right: 2.5%;
  }
}